doctype html
html
    head
        title!= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //link(href='//cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Roboto+Mono',rel='stylesheet')
        link(href='/css/tocas.css',rel='stylesheet')
        link(href='/css/UIKit.css',rel='stylesheet')
        link(href='/css/slick.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        link(href='/css/slick-theme.css',rel='stylesheet')
        link(href='/css/ripple.min.css',rel='stylesheet')
        link(href='/css/fileicon.css',rel='stylesheet')
        link(href='/icon/icon.png',rel='shortcut icon')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/trianglify/1.2.0/trianglify.min.js")
        script(src="/js/slick.min.js")
        script(src='/js/ripple.min.js')
        script(src='/js/script.js')
        -if(title=='ㄉㄌㄐㄕ - 公告')
            link(href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css',rel='stylesheet')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/zh-tw.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/gcal.min.js')
            script(src='/js/index.js')
        include _tags.pug
        if(tlhc)
            +social_tags(tlhc.title,tlhc.content,'https://tlhc.gnehs.net/og/og.png?'+Math.floor(Math.random() * 1024),'https://tlhc.gnehs.net')
        else
            +social_tags(title,'斗六家商的可愛爬蟲，可以替你查詢成績，也可以查看學校最新公告','https://tlhc.gnehs.net/og/og.png?'+Math.floor(Math.random() * 1024),'https://tlhc.gnehs.net')
    body(style='display:none')
        if(originalURL)
            script console.log('originalURL 
                =originalURL
                |')
            //-iframe#read(style='display:none;',src=originalURL)
        header.ts.heading.vertically.padded.fluid.slate
            .image
                -if(system)
                    script const isSystem=true
                -else
                    script const isSystem=false
                img#headerImg
            .ts.container
                if(headerTitle)
                    h1.ts.center.aligned.header!= headerTitle
                else
                    h1.ts.center.aligned.header!= title