doctype html
html
    head
        title!= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='//fonts.googleapis.com/css?family=Roboto+Mono',rel='stylesheet')
        link(href='/css/tocas.css',rel='stylesheet')
        link(href='/css/UIKit.css',rel='stylesheet')
        link(href='/css/slick.css',rel='stylesheet')
        link(href='/css/style.css',rel='stylesheet')
        link(href='/css/slick-theme.css',rel='stylesheet')
        link(href='/css/fileicon.css',rel='stylesheet')
        link(href='/icon/icon.png',rel='shortcut icon')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js")
        script(src="//cdn.rawgit.com/namuol/cheet.js/master/cheet.min.js")
        script(src="/js/slick.min.js")
        script(src='/js/script.js')
        include _gtag.pug
        include _tags.pug
        if(tlhc)
            +social_tags(tlhc.title,tlhc.content,'https://tlhc.gnehs.net/og/og.png?'+Math.floor(Math.random() * 1024),'https://tlhc.gnehs.net')
        else
            +social_tags(title,'斗六家商的可愛爬蟲，可以替你查詢成績，也可以查看學校最新公告','https://tlhc.gnehs.net/og/og.png?'+Math.floor(Math.random() * 1024),'https://tlhc.gnehs.net')
    body
        if(originalURL)
            script console.log('originalURL 
                =originalURL
                |')
            //-iframe#read(style='display:none;',src=originalURL)
        header.ts.heading.vertically.padded.fluid.slate
            .image
                -if(system)
                    img(src='https://i.imgur.com/a3cHBwj.jpg')
                -else
                    img(src='https://i.imgur.com/G3gaNA8.jpg')
            .ts.container
                if(headerTitle)
                    h1.ts.center.aligned.header!= headerTitle
                else
                    h1.ts.center.aligned.header!= title
        include _nav.pug
//- 一些常用的東西
mixin card(header,description,icon)
    .ts.card
        .content
            .header= header
            .description= description
        .symbol
            i.icon(class=icon)