include _header.pug
include _nav.pug
.ts.container
    .slick
        each item in slide
            a(href=item.link)
                .ts.embed(class='21:9')
                    img(src=item.img)
                    h3.ts.header.center.aligned=item.header
                        .sub.header=item.description
    
    each linkList in links
        h3.ts.header=linkList.name
        .ts.doubling.four.cards
            each item in linkList.table
                a.ts.card(href=item.link)
                    .content
                        .header=item.header
                        .description=item.description
    h3.ts.header 行事曆
    #calendar
include _footer.pug