extends _s-layout.pug
block content
	-if(page=="info")
		ul.mdui-list
			each item in Object.keys(list)
				li.mdui-list-item
					.mdui-list-item-content
						.mdui-list-item-title.mdui-list-item-one-line=item
						.mdui-list-item-text=list[item]
			else
				li.mdui-list-item 未找到符合條件的資料
	-if(page=="group")
		.ts.divided.items
			each item in list
				.item
					.content
						.header=item.title
						.inline.meta
							span=item.subTitle
						.description=item.description
					
