include _header.pug
include _nav.pug
.ts.container
    .ts.divided.items
        each item in tlhc
            a.item(href=item.link)
                .content
                    .header=item.title
                    .middoted.meta
                        span=item.date
                        span=item.tag
        else
            .ts.header 未找到符合條件的資料
    br
    #navigator.gs.scroll.non-style
        .ts.info.buttons
            each page in pages
                a.ts.button(href=page.link)=page.text
include _footer.pug