include _header.pug
include _nav.pug
.ts.container
    h3.ts.post.header=tlhc.title
    if(tlhc.content)
        #content.ts.basic.segment!=tlhc.content
    else
        #content.ts.basic.segment 無法讀取到內文，可嘗試重新整理

    .ts.selection.items
        each file in files
            a.item(href=file.file,download=file.name)
                i.large.icon
                    i.file-icon(data-type=file.type)
                .content
                    .header 附件
                    .extra=file.name

    button.ts.fluid.labeled.icon.button(onclick='history.back()')
        i.arrow.left.icon
        | 回上頁
include _footer.pug