doctype html
html
    head
        title!= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
        style.
            #navigator{
                margin:0 auto;
                text-align: center;
            }
    body
        header.ts.heading.vertically.padded.fluid.slate
            .ts.center.aligned.container
                h1.ts.center.aligned.header!= title
        include _nav.pug
        br
        .ts.container
            .ts.one.cards
                each item in tlhc
                    a.ts.card(href=item.link)
                        .content
                            .header=item.header
                            .description=item.content
                else
                    .ts.header 未找到符合條件的資料
            br
            #navigator
                .ts.buttons
                    if pages
                        each page in pages
                            a.ts.info.button(href=page.link)=page.text
            br
            br
            br


