
include _header.pug
include _nav.pug
.ts.very.narrow.container
    .ts.action.fluid.input(style='margin-bottom:10px')
        input#search(type='text',placeholder='搜尋',value=search)
        button.ts.button(onclick="search()") 搜尋
.ts.container
    br
    -if(tlhc.length>0)
        .ts.divided.items
            each item in tlhc
                a.item(href=item.link)
                    .content
                        .header=item.header
                        .description=item.content
    -else
        h3.ts.center.aligned.icon.header 
            i.frown.icon
            |糟糕
            .sub.header 未找到符合條件的資料
    br
    #navigator.gs.scroll.non-style
        .ts.info.buttons
            if pages
                each page in pages
                    a.ts.button(href=page.link)=page.text
include _footer.pug