include _header.pug
body
    header.ts.heading.vertically.padded.fluid.slate
        .ts.center.aligned.container
            h1.ts.center.aligned.header!= title
    include _nav.pug
    .ts.container
        .ts.stackable.two.cards
            each item in tlhc
                a.ts.card(href=item.link)
                    .content
                        .header=item.title
                    .extra.content
                        .ts.basic.label=item.date
                        .ts.basic.label=item.tag
            else
                .ts.header 未找到符合條件的資料
        br
        #navigator
            .ts.buttons
                each page in pages
                    a.ts.info.button(href=page.link)=page.text
    include _footer.pug


