include _header.pug
include _nav.pug
.ts.container
    h3.ts.post.header=tlhc.title
    if(tlhc.content)
        #content.ts.basic.segment!=tlhc.content
    else
        #content.ts.basic.segment 
            p 無內文，請重新整理試試，或是這篇文章根本沒內文
            p 這可能是一個已被發現的錯誤，可至 
                a(href='https://github.com/EarlySpringCommitee/TLHCrawler/issues/2') issues#2 
                |  查看最新修復進度

    .ts.selection.items
        each file in files
            a.item(href=file.file,download=file.name)
                i.large.icon
                    i.file-icon(data-type=file.type)
                .content
                    .header 附件
                    .extra=file.name

    button.ts.fluid.labeled.icon.button(onclick='history.back()')
        i.arrow.left.icon
        | 回上頁
include _footer.pug